
.mymenu:hover{background-color:orange; color:white;}


		 .img{
		background-image:url('new1.PNG');
		background-size:cover;		
		
		width:100%;
		height: 500px;
	
	}

.space{padding-left:8px;}
.icons{padding:7px 0px;}

.log{
	width: 300px;
}
@media screen and(max-width:350px){
	
	nav img{
		width: 100px;
		
	}
}


	
.myhead{
	
	padding-top:40px;
	box-sizing:border-box;
	
}
.myhead h1{
font-weight:bold;
font-size:60px;}

.myhead h2{
font-size:40px;}

@media screen and(max-width:450px){
	
	.myhead{
		padding:0px;
		
	}
	.myhead h1{
		font-size:20px;
	}
	
	
}
@media screen and (max-width:900px) {
  body {
    background-color:red;
   
  }
}

	/*________________________________________about________________*/
	
	.about{
		padding:100px 0px 60px;
		height:700px;}
	.rowset{
			margin:80px 0px !important;
			border-radius:50%;
			}
			.round{
			border-radius:50%;
			height:100px;
			width:100px;
			padding-top:13px;
		}
			
			 .imgset{
	  margin:0 auto;
	 
	  }

		body{   font-family: Arial, Helvetica, sans-serif;}


		.bor{
	   border-bottom:2px solid transparent;
	   border-image:linear-gradient(45deg,orange,red,yellow);
	   border-image-slice:1;}
	
	 
	   .pic{
		background-image:url('conbak.png');
		background-size:cover;		
		background-attachment:fixed;
		width:100%;
		height:660px;
	
	}
	.form-control{
	border-radius:15px;	
	width:400px;}
	
	.enter.form-control{ width:200px; }
	
	
	.center{ margin:0 auto;}
	
	.tab{
		margin:0 auto;
	}
	
	
	.card{
		margin: 0 auto;
		float:none;
	}
		
		
		
		
		
		
	
